@model NerdDinner.Models.PaginatedList<NerdDinner.Models.Dinner>
 

@{
    ViewBag.Title = "Upcoming Dinners";
}

<h2>Upcoming Dinners</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Title, "Details", "Dinners", new {id = item.DinnerId}, null) on @Html.DisplayFor(model => item.EventDate)
        </li>
    }
</ul>

@{
    if (Model.HasPreviousPage)
    {
        @Html.RouteLink("<<<", "UpcomingDinners", new {page =  (Model.PageIndex - 1)})
    }
    if (Model.HasNextPage)
    {
        @Html.RouteLink(">>>", "UpcomingDinners", new {page = (Model.PageIndex + 1)})
    }
}



