@model IEnumerable<NerdDinner.Models.Dinner>

@{
    ViewBag.Title = "Upcoming Dinners";
}

<h2>Upcoming Dinners</h2>

<p>
    @Html.ActionLink("Create New Dinner", "Create")
</p>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Title, "Details", "Dinners", new { id = item.DinnerId }, null) on @Html.DisplayFor(model => item.EventDate)
        </li>
    }
</ul>
